#vue-standings thead th, #vue-results thead th {
    vertical-align: middle;
}

.auto-pager-input {
    width: 100%;
    font-size: 80%;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.auto-pager-input.error {
    background-color: #fcc;
}

.auto-pager-input.active {
    background-color: #cfc;
    border-color: #6c6;
    color: #093;
}

.auto-pager-input.watching {
    background-color: #cef;
    border-color: #9bd;
    color: #17f;
}
